/* Default Element Styling */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    object-fit: contain;
}
button {
    cursor: pointer;
}
input[type=text] {
    width: 90%;
    background: white;
    color: royalblue;
    text-align: left;
    border-radius: 6px;
    padding: 2px 10px;
    box-shadow: 0 0 1px 1px lightgrey inset;
    margin: 2px 0;
    font-size: 120%;
}
input[type=text]:focus {
    color: limegreen;
}

/* Page Layout */
html {
    background: black;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 100vh;
}
footer {
    position: sticky;
    bottom: 0;
    width: 80%;
    background: black;
    box-shadow: 0 0 1em 1em black;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border: 2px solid royalblue;
    border-radius: 1em;
}
footer > img {
    height: 2em;
    width: 2em;
    border-radius: 1em;
    margin: 0.5em;
}

/* Content */
main {
    flex-shrink: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: clamp(300px, 80vw, 800px);
    margin: 1em;
    padding: 0;
    background: white;
    border: 2px solid royalblue;
    border-radius: 1.5em;
}
section#back.hidden {
    visibility: hidden;
}
section#done.hidden {
    display: none;
}
section#back, section#done {
    display: flex;
    justify-content: flex-end;
}
section#back {
    height: 32px;
    align-items: flex-end;
    margin-right: 1em;
}
section#done {
    height: 4em;
    background: darkgrey;
    align-items: center;
    padding-right: 4px;
}
section#back button, section#done button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0 0 3px 3px silver;
    font-weight: bold;
    border: none;
    color: royalblue;
}
section#back button {
    height: 24px;
    width: 24px;
}
section#done button {
    font-size: 3em;
    height: 1.2em;
    width: 1.2em;
}
section#back button:hover, section#done button:hover {
    color: limegreen;
}
section#title {
    font-weight: bolder;
    font-size: xx-large;
    font-variant: small-caps;
}
.title {
    color: royalblue;
}
section#path {
    font-weight: bolder;
    font-size: small;
}
section#desc {
	min-height: 60px;
}
.desc {
	color: dodgerblue;
    text-align: left;
    padding: 0 1em;
}
section#minmax {
    padding-top:1em;
}
section#buttons {
    flex-shrink: 1;
    overflow-y: auto;
    padding: 0 1em;
}
section#buttons > * {
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
	width: 100%;
	margin: 6px 0;
    background: ghostwhite;
    border: 2px solid ghostwhite;
}
section#buttons > button {
    font-size: larger;
}
section#buttons > *:first-child {
	margin-top: 0;
}
section#buttons > *:hover {
    border: 2px solid limegreen;
}
section#buttons .info {
    width: 100%;
    min-height: 60px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px;
}
section#buttons .info div {
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    white-space: normal;
}
section#buttons .info .title {
	color: royalblue;
    text-align: left;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}
section#buttons .info .desc {
    padding: 0;
    font-size: 75%;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}
section#buttons > * > img {
    background-image: url('/img/iconbg.svg');
    object-fit: scale-down;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
}

section#buttons.old {
    background: darkgrey;
}
section#buttons.old > * {
    justify-content: center;
    align-items: center;
    background: white;
    color: royalblue;
    width: 90%;
    border-radius: 24px;
    padding: 2px;
    box-shadow: 0 0 3px 3px lightgrey;
    margin: 6px auto;
    border: none;
}
section#buttons.old > *:hover {
    width: 100%;
    color: limegreen;
}

/* Search */
aside#search {
    display:none;
    width: 100%;
    background: white;
    border-bottom: 2px solid royalblue;
}
.result {
    border-bottom: 2px inset silver;
}
.result h6 {
    color: black;
}
/* Desktop */
@media screen and (min-width: 600px) {
    aside#search {
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        z-index: 3;
        max-height: 100vh;
        overflow-y: auto;
        direction: rtl;
        border-right: 2px solid royalblue;
        border-bottom-right-radius: 1em;
    }
    aside#search * {
        direction: ltr;
    }
}
/* Mobile */
@media screen and (max-width: 600px) {
    
}


/* Scrollbars */
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner, ::-webkit-resizer {
	background: black;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb {
	width: 16px;
	height: 16px;
	border: 4px solid transparent;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb {
	border-radius: 16px;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece {
	box-shadow: inset 0 0 0 1px royalblue;
}
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0 16px royalblue;
}
::-webkit-resizer {
	background-image: url('resize-corner.svg');
}
/* Scrollbars (for non blink/webkit browsers (firefox)) */
* {
	scrollbar-color: royalblue black;
}
/* section#buttons Scrollbar */
section#buttons::-webkit-scrollbar, section#buttons::-webkit-scrollbar-track-piece, section#buttons::-webkit-scrollbar-track, section#buttons::-webkit-scrollbar-corner, ::-webkit-resizer {
	background: white;
}
section#buttons::-webkit-scrollbar, section#buttons::-webkit-scrollbar-track, section#buttons::-webkit-scrollbar-track-piece, section#buttons::-webkit-scrollbar-thumb {
	width: 32px;
	height: 32px;
	border: 8px solid transparent;
}
section#buttons::-webkit-scrollbar, section#buttons::-webkit-scrollbar-track-piece {
	box-shadow: inset 0 0 1px 1px silver, inset 0 0 0 16px lightgrey;
}
section#buttons::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 1px 1px silver, inset 0 0 0 16px white;
    cursor: grab;
}
section#buttons::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 1px 1px silver, inset 0 0 0 16px limegreen;
}
/* section#buttons Scrollbar (for non blink/webkit browsers (firefox)) */
section#buttons {
	scrollbar-color: white lightgrey;
}
