/* Default Element Styling */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    object-fit: contain;
}

/* Page Layout */
html {
    background: black;
    border-radius: 25px 50px 50px 25px;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 100vh;
}
footer {
    width: 100%;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
}
footer > img {
    height: 2em;
    width: 2em;
    border-radius: 1em;;
}

/* Content */
main {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: clamp(300px, 80vw, 800px);
    margin: 1em;
    padding: 0 0.5em 0;
    background: white;
    border: 2px solid royalblue;
    border-radius: 1.5em;
}
section#back {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 32px;
}
section#back.hidden {
    visibility: hidden;
}
section#back button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    box-shadow: 0 0 3px 3px silver;
    font-weight: bold;
    border: none;
}
section#title {
    font-weight: bolder;
    font-size: xx-large;
    font-variant: small-caps;
}
.title {
    color: royalblue;
}
section#path {
    font-weight: bolder;
    font-size: small;
}
section#desc {
	min-height: 60px;
	text-align: left;
}
.desc {
	color: dodgerblue;
}
section#buttons {
    flex-grow: 1;
}
section#buttons > a {
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
	width: 100%;
	margin: 6px 0;
    background: ghostwhite;
    border: 2px solid ghostwhite;
}
section#buttons > a:first-child {
	margin-top: 0;
}
section#buttons > a:last-child {
	margin-bottom: 0;
}
section#buttons > a:hover {
    border: 2px solid limegreen;
}
section#buttons > a .info {
    width: 100%;
    min-height: 60px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px;
}
section#buttons > a .info div {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    white-space: normal;
}
section#buttons > a .info .title {
	color: royalblue;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}
section#buttons > a .info .desc {
    font-size: 75%;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}
section#buttons > a > img {
    background-image: url('/img/iconbg.svg');
    object-fit: scale-down;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
}


/* Search */
aside#search {
    width: 100%;
    background: white;
    border-bottom: 2px solid royalblue;
}
#search > input[type=text] {
    width: 90%;
    background: white;
    color: royalblue;
    text-align: left;
    border-radius: 6px;
    padding: 2px 10px;
    box-shadow: 0 0 1px 1px lightgrey inset;
    margin: 2px 0;
    font-size: 120%;
}
.result {
    border-bottom: 2px inset silver;
}
.result h6 {
    color: black;
}
/* Desktop */
@media screen and (min-width: 300px) {
    aside#search {
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        z-index: 2;
        max-height: 100vh;
        overflow-y: auto;
        direction: rtl;
        border-right: 2px solid royalblue;
        border-bottom-right-radius: 1em;
    }
    aside#search * {
        direction: ltr;
    }
}
/* Mobile */
@media screen and (max-width: 300px) {
    
}

/* Scrollbar */
::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece {
    box-shadow: 0 0 0 1px royalblue inset;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece {
    border-radius: 8px;
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner, ::-webkit-resizer {
    background: black;
}
::-webkit-scrollbar-thumb:vertical {
    border-top-width: 6px;
    border-bottom-width: 6px;
    box-shadow: -1px 0 0 0 royalblue inset, 1px 0 0 0 royalblue inset, 0 0 0 2px black inset, 0 0 0 6px royalblue inset;
}
::-webkit-scrollbar-thumb:horizontal {
    border-left-width: 6px;
    border-right-width: 6px;
    box-shadow: 0 -1px 0 0 royalblue inset, 0 1px 0 0 royalblue inset, 0 0 0 2px black inset, 0 0 0 6px royalblue inset;
}